src/extension/app-schema/app-schema-test-support/src/main/resources/test-data/HydrogeologicUnit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:cgu="urn:cgi:xmlns:CGI:Utilities:1.0" xmlns:gsml="urn:cgi:xmlns:CGI:GeoSciML:2.0" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gwml="http://www.nrcan.gc.ca/xml/gwml/1" targetNamespace="http://www.nrcan.gc.ca/xml/gwml/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>The GWML HydrogeologicUnit package contains a set of classes used to describe the various properties of hydrogeologic units.</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <import namespace="urn:cgi:xmlns:CGI:Utilities:1.0" schemaLocation="http://www.geosciml.org/schemas/cgiutilities/1.0/cgiUtilities.xsd"/>
    <import namespace="urn:cgi:xmlns:CGI:GeoSciML:2.0" schemaLocation="http://www.geosciml.org/geosciml/2.0/xsd/geologicUnit.xsd"/>
    <element name="HydrogeologicUnit" substitutionGroup="gsml:GeologicUnit" type="gwml:HydrogeologicUnitType">
        <annotation>
            <documentation>Means any soil of rock unit or zone which by virtue of its porosity or permeability, or lack thereof, has a distinct influence on the storage or movement of groundwater. (EPA)

Any soil or rock unit or zone that because of its hydraulic properties has a distinct influence on the storage or movement of ground water.
http://water.nv.gov/WaterPlanning/dict-1/PDFs/wwords-h.pdf</documentation>
        </annotation>
    </element>
    <complexType name="HydrogeologicUnitType">
        <complexContent>
            <extension base="gsml:GeologicUnitType">
                <sequence>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="HydrogeologicUnitPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:HydrogeologicUnit"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="HydrostratigraphicUnit" substitutionGroup="gwml:HydrogeologicUnit" type="gwml:HydrostratigraphicUnitType">
        <annotation>
            <documentation>Formation, or part of a formation, or a group of formation in which there are similar hydrologic characteristics that allow for grouping into aquifers and associated confininf layers (Domenico &amp;amp; Schwartz, 1997)

Hydrostratigraphic units were originally defined by Maxey (1964) as bodies of rock with considerable lateral extent that act as a reasonably distinct hydrologic system. It is clear from Maxey's definition that hydrostratigraphic units were to be hydraulically continuous, mappable, and scale-independent entities. Mappability, in this case, means the subsurface geology can be subdivided according to permeability (Seaber, 1988). Thus, a single hydrostratigraphic unit may include a formation, part of a formation, or a group of formations.

-Maxey, G. B., 1964, Hydrostratigraphic units: Journal of Hydrology, v. 2, p. 124-129.</documentation>
        </annotation>
    </element>
    <complexType name="HydrostratigraphicUnitType">
        <complexContent>
            <extension base="gwml:HydrogeologicUnitType"/>
        </complexContent>
    </complexType>
    <complexType name="HydrostratigraphicUnitPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:HydrostratigraphicUnit"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>

</schema>