src/main/src/main/resources/schemas/gml/3.2.1/gmx/catalogues.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.isotc211.org/2005/gmx" elementFormDefault="qualified" version="0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gmx="http://www.isotc211.org/2005/gmx">
	<!-- ================================= Annotation ================================ -->
	<xs:annotation>
		<xs:documentation>This file was generated from ISO TC/211 UML class diagrams == 04-27-2005 17:16:11 ====== Handcrafted</xs:documentation>
	</xs:annotation>
	<!-- ================================== Imports ================================== -->
	<xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../gmd/gmd.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../gco/gco.xsd"/>
	<xs:include schemaLocation="../gmx/uomItem.xsd"/>
	<xs:include schemaLocation="../gmx/codelistItem.xsd"/>
	<xs:include schemaLocation="../gmx/crsItem.xsd"/>
	<!-- ########################################################################### -->
	<!-- ########################################################################### -->
	<!-- ================================== Classes ================================= -->
	<xs:complexType name="AbstractCT_Catalogue_Type" abstract="true">
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="name" type="gco:CharacterString_PropertyType"/>
					<xs:element name="scope" type="gco:CharacterString_PropertyType" maxOccurs="unbounded"/>
					<xs:element name="fieldOfApplication" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="versionNumber" type="gco:CharacterString_PropertyType"/>
					<xs:element name="versionDate" type="gco:Date_PropertyType"/>
					<xs:element name="language" type="gco:CharacterString_PropertyType" minOccurs="0"/>
					<xs:element name="characterSet" type="gmd:MD_CharacterSetCode_PropertyType" minOccurs="0"/>
					<xs:element name="locale" type="gmd:PT_Locale_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="subCatalogue" type="gmx:CT_Catalogue_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="AbstractCT_Catalogue" type="gmx:AbstractCT_Catalogue_Type" abstract="true"/>
	<!-- ........................................................................ -->
	<xs:complexType name="CT_Catalogue_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmx:AbstractCT_Catalogue"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="CT_CodelistCatalogue_Type">
		<xs:complexContent>
			<xs:extension base="gmx:AbstractCT_Catalogue_Type">
				<xs:sequence>
					<xs:element name="codelistItem" type="gmx:CT_Codelist_PropertyType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="CT_CodelistCatalogue" type="gmx:CT_CodelistCatalogue_Type" substitutionGroup="gmx:AbstractCT_Catalogue"/>
	<!-- ........................................................................ -->
	<xs:complexType name="CT_CodelistCatalogue_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmx:CT_CodelistCatalogue"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="CT_CrsCatalogue_Type">
		<xs:complexContent>
			<xs:extension base="gmx:AbstractCT_Catalogue_Type">
				<xs:sequence>
					<xs:element name="crs" type="gmx:CT_CRS_PropertyType" maxOccurs="unbounded"/>
					<xs:element name="coordinateSystem" type="gmx:CT_CoordinateSystem_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="axis" type="gmx:CT_CoordinateSystemAxis_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="datum" type="gmx:CT_Datum_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="ellipsoid" type="gmx:CT_Ellipsoid_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="primeMeridian" type="gmx:CT_PrimeMeridian_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="operation" type="gmx:CT_Operation_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="operationMethod" type="gmx:CT_OperationMethod_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="parameters" type="gmx:CT_OperationParameters_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="CT_CrsCatalogue" type="gmx:CT_CrsCatalogue_Type" substitutionGroup="gmx:AbstractCT_Catalogue"/>
	<!-- ........................................................................ -->
	<xs:complexType name="CT_CrsCatalogue_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmx:CT_CrsCatalogue"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="CT_UomCatalogue_Type">
		<xs:complexContent>
			<xs:extension base="gmx:AbstractCT_Catalogue_Type">
				<xs:sequence>
					<xs:element name="uomItem" type="gmx:UnitDefinition_PropertyType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="CT_UomCatalogue" type="gmx:CT_UomCatalogue_Type" substitutionGroup="gmx:AbstractCT_Catalogue"/>
	<!-- ........................................................................ -->
	<xs:complexType name="CT_UomCatalogue_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmx:CT_UomCatalogue"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
</xs:schema>
