src/main/src/main/resources/schemas/gml/3.2.1/gmx/gmxUsage.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.isotc211.org/2005/gmx" elementFormDefault="qualified" version="0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gmx="http://www.isotc211.org/2005/gmx">
	<!-- ================================= Annotation ================================ -->
	<xs:annotation>
		<xs:documentation>This file was generated from ISO TC/211 UML class diagrams == 04-27-2005 17:15:30 ====== </xs:documentation>
	</xs:annotation>
	<!-- ================================== Imports ================================== -->
	<xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../gmd/gmd.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../gco/gco.xsd"/>
	<xs:include schemaLocation="../gmx/catalogues.xsd"/>
	<xs:include schemaLocation="../gmx/extendedTypes.xsd"/>
	<!-- ########################################################################### -->
	<!-- ########################################################################### -->
	<!-- ================================== Classes ================================= -->
	<xs:complexType name="MX_Aggregate_Type">
		<xs:complexContent>
			<xs:extension base="gmd:AbstractDS_Aggregate_Type">
				<xs:sequence>
					<xs:element name="aggregateCatalogue" type="gmx:CT_Catalogue_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="aggregateFile" type="gmx:MX_SupportFile_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MX_Aggregate" type="gmx:MX_Aggregate_Type" substitutionGroup="gmd:AbstractDS_Aggregate"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MX_Aggregate_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmx:MX_Aggregate"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="MX_DataSet_Type">
		<xs:complexContent>
			<xs:extension base="gmd:DS_DataSet_Type">
				<xs:sequence>
					<xs:element name="dataFile" type="gmx:MX_DataFile_PropertyType" maxOccurs="unbounded"/>
					<xs:element name="datasetCatalogue" type="gmx:CT_Catalogue_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="supportFile" type="gmx:MX_SupportFile_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MX_DataSet" type="gmx:MX_DataSet_Type" substitutionGroup="gmd:DS_DataSet"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MX_DataSet_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmx:MX_DataSet"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="MX_DataFile_Type">
		<xs:complexContent>
			<xs:extension base="gmx:AbstractMX_File_Type">
				<xs:sequence>
					<xs:element name="featureTypes" type="gco:GenericName_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="fileFormat" type="gmd:MD_Format_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MX_DataFile" type="gmx:MX_DataFile_Type" substitutionGroup="gmx:AbstractMX_File"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MX_DataFile_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmx:MX_DataFile"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="MX_SupportFile_Type">
		<xs:complexContent>
			<xs:extension base="gmx:AbstractMX_File_Type"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MX_SupportFile" type="gmx:MX_SupportFile_Type" substitutionGroup="gmx:AbstractMX_File"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MX_SupportFile_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmx:MX_SupportFile"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="AbstractMX_File_Type" abstract="true">
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="fileName" type="gmx:FileName_PropertyType"/>
					<xs:element name="fileDescription" type="gco:CharacterString_PropertyType"/>
					<xs:element name="fileType" type="gmx:MimeFileType_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="AbstractMX_File" type="gmx:AbstractMX_File_Type" abstract="true"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MX_File_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmx:AbstractMX_File"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<!-- ........................................................................ -->
	<xs:element name="MX_ScopeCode" type="gco:CodeListValue_Type" substitutionGroup="gmd:MD_ScopeCode"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MX_ScopeCode_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmx:MX_ScopeCode"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
</xs:schema>
