src/wms/src/test/resources/org/geoserver/wms/wms_1_1_1/poiwfs/describePoi.xml

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:tiger="http://www.census.gov" elementFormDefault="qualified" targetNamespace="http://www.census.gov">
    <xsd:import namespace="http://www.opengis.net/gml" schemaLocation="https://${wfsBase}/wfs/schemas/gml/2.1.2/feature.xsd"/>
    <xsd:complexType name="poiType">
        <xsd:complexContent>
            <xsd:extension base="gml:AbstractFeatureType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="the_geom" nillable="true" type="gml:PointPropertyType"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="NAME" nillable="true" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="THUMBNAIL" nillable="true" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="MAINPAGE" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="poi" substitutionGroup="gml:_Feature" type="tiger:poiType"/>
</xsd:schema>
