src/community/oseo/oseo-core/src/test/resources/schemas/sar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:ows="http://www.opengis.net/ows/2.0" xmlns:sar="http://www.opengis.net/sar/2.1" xmlns:eop="http://www.opengis.net/eop/2.1" targetNamespace="http://www.opengis.net/sar/2.1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.1.0">
	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<annotation>
		<documentation>Synthetic Aperture Radar application schema
        Earth Observation Metadata profile of Observations and Measurements is an OGC Standard.
        Copyright (c) 2013 Open Geospatial Consortium. 
        To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .		
		</documentation>
	</annotation>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.opengis.net/eop/2.1" schemaLocation="eop.xsd"/>
	<import namespace="http://www.opengis.net/ows/2.0" schemaLocation="http://schemas.opengis.net/ows/2.0/owsAll.xsd"/>
	<element name="EarthObservation" type="sar:EarthObservationType" substitutionGroup="eop:EarthObservation">
		<annotation>
			<documentation>eop root element for SAR Earth Observation Product</documentation>
		</annotation>
	</element>
	<complexType name="EarthObservationType">
		<complexContent>
			<extension base="eop:EarthObservationType"/>
		</complexContent>
	</complexType>
	<complexType name="EarthObservationPropertyType">
		<sequence minOccurs="0">
			<element ref="sar:EarthObservation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Acquisition" type="sar:AcquisitionType" substitutionGroup="eop:Acquisition">
		<annotation>
			<documentation>Extends eop Acquisition for SAR products</documentation>
		</annotation>
	</element>
	<complexType name="AcquisitionType">
		<complexContent>
			<extension base="eop:AcquisitionType">
				<sequence>
					<element name="polarisationMode" type="sar:PolarisationModeValueType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>single S, dual D, twin T, quad Q, UNDEFINED</documentation>
						</annotation>
					</element>
					<element name="polarisationChannels" type="sar:PolarisationChannelsValueType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>Polarisation channel transmit/receive configuration: horizontal, vertical.</documentation>
						</annotation>
					</element>
					<element name="antennaLookDirection" type="sar:AntennaLookDirectionValueType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>Polarisation channel transmit/receive configuration: horizontal, vertical.</documentation>
						</annotation>
					</element>
					<element name="minimumIncidenceAngle" type="gml:AngleType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>Minimum Incidence angle.</documentation>
						</annotation>
					</element>
					<element name="maximumIncidenceAngle" type="gml:AngleType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>Maximum Incidence angle.</documentation>
						</annotation>
					</element>
					<element name="incidenceAngleVariation" type="gml:AngleType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>Incidence angle variation</documentation>
						</annotation>
					</element>
					<element name="dopplerFrequency" type="gml:MeasureType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>Doppler Frequency of acquisition.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AcquisitionPropertyType">
		<sequence>
			<element ref="sar:Acquisition"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<simpleType name="PolarisationChannelsValueType">
		<union memberTypes="sar:PolarisationChannelsValueEnumerationType sar:PolarisationChannelsValueOtherType"/>
	</simpleType>
	<simpleType name="PolarisationChannelsValueEnumerationType">
		<restriction base="string">
			<enumeration value="HV"/>
			<enumeration value="HV, VH"/>
			<enumeration value="VH"/>
			<enumeration value="VV"/>
			<enumeration value="HH, VV"/>
			<enumeration value="HH, VH"/>
			<enumeration value="HH, HV"/>
			<enumeration value="VH, VV"/>
			<enumeration value="VH, HV"/>
			<enumeration value="VV, HV"/>
			<enumeration value="VV, VH"/>
			<enumeration value="UNDEFINED"/>
			<enumeration value="HH"/>
			<enumeration value="HH, HV, VH, VV"/>
		</restriction>
	</simpleType>
	<simpleType name="PolarisationChannelsValueOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="PolarisationModeValueType">
		<union memberTypes="sar:PolarisationModeValueEnumerationType sar:PolarisationModeValueOtherType"/>
	</simpleType>
	<simpleType name="PolarisationModeValueEnumerationType">
		<restriction base="string">
			<enumeration value="Q">
				<annotation>
					<documentation>Quad mode</documentation>
				</annotation>
			</enumeration>
			<enumeration value="D">
				<annotation>
					<documentation>Dual mode</documentation>
				</annotation>
			</enumeration>
			<enumeration value="S">
				<annotation>
					<documentation>Single mode</documentation>
				</annotation>
			</enumeration>
			<enumeration value="T">
				<annotation>
					<documentation>Twin mode</documentation>
				</annotation>
			</enumeration>
			<enumeration value="UNDEFINED">
				<annotation>
					<documentation>Mode undefined</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="PolarisationModeValueOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="AntennaLookDirectionValueType">
		<union memberTypes="sar:AntennaLookDirectionValueEnumerationType sar:AntennaLookDirectionValueOtherType"/>
	</simpleType>
	<simpleType name="AntennaLookDirectionValueEnumerationType">
		<restriction base="string">
			<enumeration value="RIGHT">
				<annotation>
					<documentation>Antenna Look Direction Right</documentation>
				</annotation>
			</enumeration>
			<enumeration value="LEFT">
				<annotation>
					<documentation>Antenna Look Direction Left</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="AntennaLookDirectionValueOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
</schema>
