src/extension/app-schema/app-schema-test/src/test/resources/test-data/geosciml-portrayal.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:gml="http://www.opengis.net/gml" 
	xmlns:gmlsf="http://www.opengis.net/gmlsf" 
	xmlns:gsmlp="http://xmlns.geosciml.org/geosciml-portrayal/2.0" 
	targetNamespace="http://xmlns.geosciml.org/geosciml-portrayal/2.0" 
	elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0.1">
	
<!-- ===================================================================================== -->
	<!-- edited with XMLSpy v2010 rel. 3 sp1 (x64) (http://www.altova.com) by Stephen M Richard (private) -->
	<!-- v2 rc1 schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<!-- 2011-08-05:  Manually changed schema to import GML 3.1.1 instead of GML 3.2 by Alistair Ritchie - ritchiea@landcareresearch.co.nz. -->

	<!-- 2011-08-18:  Namespace changed to match GeoSciML pattern, and "source" cardinality changed to (0..1).  Ollie Raymond, Geoscience Australia -->
	<!-- 2012-03-28: Add  <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/> at end of the element sequence for each portrayal type. This allows for the insertion of other elements, particularly allowing for ESRI ArcGIS server tendency to throw in objectID, length and area elements 
	Also change upper to older and lower to younger in age element names and descriptions to avoid inherent ambiguity about what is older and what is younger. 
	Add gmlsf level 0 declartion in annotation element. Question: does having xsd:any element with unbounded cardinality violate level 0 proscription that max cardinality is 1?   Stephen Richard, AZGS/USGIN -->
	<!-- 2012-11-23: Manually added BoreholeView to xsd for v2.0 final release.  Ollie Raymond, Geoscience Australia -->
	<!-- 2013-07-08: version 2.0.1 - Manually corrected BoreholeView/specification_uri documentation note to read "URI referring the the GeoSciML Borehole feature...",
		not "URI referring the the GeoSciML GeologicUnit feature..."  Ollie Raymond. oliver.raymond@ga.gov.au -->
	
<!-- ===================================================================================== -->
	
	<annotation>
		<documentation>The GeoSciML-Portrayal schema standardises the interaction (request/response formats) with layer-based map services. It is best thought of as a view of GeoSciML data that denormalizes the data and concatenates complex property values into single, human-readable, labels and returns single, representative, values from controlled vocabularies for properties multi-valued properties that can be used when generating thematic maps, or portrayals, of the data.
			It is separate to, but harmonized with, GeoSciML and conforms to the level 0 of the Simple Features Profile for GML (link). Labels, will be 'free-text' fields that will be, in robust services, well-structured summaries of complex GeoSciML data, while the representative thematic properties will be URIs of concepts in a controlled vocabulary (for example CGI Simple Lithology). There will also be links, via identifier URIs, providing hooks to full GeoSciML representations of a the geologic feature in question.
			
			********************************************************************************************************************
			Minor edit in v2.0.1
			
			- Corrected error in documentation notes for Borehole/specification_uri, to read
			"URI referring the GeoSciML Borehole feature...", not "URI referring the GeoSciML GeologicUnit feature..."
			
			********************************************************************************************************************</documentation>
		<appinfo source="http://schemas.opengis.net/gml/3.1.1/profiles/gmlsfProfile/1.0.0/gmlsfLevels.xsd">
			<gmlsf:ComplianceLevel>0</gmlsf:ComplianceLevel>
			<gmlsf:GMLProfileSchema>http://schemas.opengis.net/gml/3.1.1/profiles/gmlsfProfile/1.0.0/gmlsf.xsd</gmlsf:GMLProfileSchema>
		</appinfo>
	</annotation>
	<annotation>
		<documentation>The GeoSciML Portrayal View schema standardises the interaction (request/response formats) with layer-based map services. It is best thought of as a view of GeoSciML data that denormalizes the data and concatenates complex property values into single, human-readable, labels and returns single, representative, values from controlled vocabularies for properties multi-valued properties that can be used when generating thematic maps, or portrayals, of the data.
It is separate to, but harmonized with, GeoSciML and conforms to the level 0 of the Simple Features Profile for GML (link). Labels, will be 'free-text' fields that will be, in robust services, well-structured summaries of complex GeoSciML data, while the representative thematic properties will be URIs of concepts in a controlled vocabulary (for example CGI Simple Lithology). There will also be links, via identifier URIs*, providing hooks to full GeoSciML representations of a the geologic feature in question.</documentation>
	</annotation>
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	
<!-- =========================================================== -->
<!--                                  ContactView                                                                                 -->	
<!-- =========================================================== -->
	<element name="ContactView" type="gsmlp:ContactViewType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation>Simplified view of a GeoSciML Contact. In GeoSciML terms this will be in instance of a MappedFeature with key property values from the associated Contact feature summarised as labels (unconstrained character strings) or arbitrarily selected classifiers to be used for thematic mapping purposes. The latter are the properties suffixed with '_uri' and will contain URIs referring to controlled concepts in published vocabularies.</documentation>
		</annotation>
	</element>
	<complexType name="ContactViewType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="identifier" type="string">
						<annotation>
							<documentation>Globally unique identifer. Should have the same value as the corresponding GeoSciML MappedFeature.</documentation>
						</annotation>
					</element>
					<element name="name" type="string" minOccurs="0">
						<annotation>
							<documentation>Display name for the the Contact.</documentation>
						</annotation>
					</element>
					<element name="description" type="string" minOccurs="0">
						<annotation>
							<documentation>Text description of the Contact, typically taken from an entry on a geological map legend.</documentation>
						</annotation>
					</element>
					<element name="contactType" type="string" minOccurs="0">
						<annotation>
							<documentation>Type of Contact (as defined in GeoSciML).</documentation>
						</annotation>
					</element>
					<element name="observationMethod" type="string" minOccurs="0">
						<annotation>
							<documentation>Metadata snippet indicating how the spatial extent of the feature was determined. ObservationMethod is a convenience property that provides a quick and dirty approach to observation metadata when data are reported using a feature view (as opposed to observation view).</documentation>
						</annotation>
					</element>
					<element name="positionalAccuracy" type="string" minOccurs="0">
						<annotation>
							<documentation>Quantitative values define the radius of an uncertainty buffer around a mappedFeature (eg: a positionAccuracy of 100 m for a line feature defines a buffer polygon of total width 200 m centred on the line).</documentation>
						</annotation>
					</element>
					<element name="source" type="string" minOccurs="0">
						<annotation>
							<documentation>Text describing feature-specific details and citations to source materials, and if available providing URLs to reference material and publications describing the geologic feature. This could be a short text synopsis of key inforamtion that would also be in the metadata record referenced by metadata_uri.</documentation>
						</annotation>
					</element>
					<element name="contactType_uri" type="string">
						<annotation>
							<documentation>URI referring to a controlled concept from a vocabulary defining the Contact types. Mandatory propery - if not value is provided then a URI referring to a conctrolled concept explaining why the value is nil must be provided.</documentation>
						</annotation>
					</element>
					<element name="specification_uri" type="string">
						<annotation>
							<documentation>URI referring the the GeoSciML Contact feature that describes the instance in detail. Mandatory propery - if not value is provided then a URI referring to a conctrolled concept explaining why the value is nil must be provided.</documentation>
						</annotation>
					</element>
					<element name="metadata_uri" type="string">
						<annotation>
							<documentation>URI referring to a metadata record describing the provenance of data.</documentation>
						</annotation>
					</element>
					<element name="genericSymbolizer" type="string" minOccurs="0">
						<annotation>
							<documentation>Identifier for a symbol from standard (locally or community defined) symbolization scheme for portrayal.</documentation>
						</annotation>
					</element>
					<element name="shape" type="gml:GeometryPropertyType">
						<annotation>
							<documentation>Geometry defining the extent of the feature of interest.</documentation>
						</annotation>
					</element>
					<any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ContactViewPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlp:ContactView"/>
		</sequence>
	</complexType>
<!-- =========================================================== -->
<!--                           ShearDisplacementstructureView                                                        -->	
<!-- =========================================================== -->
	<element name="ShearDisplacementStructureView" type="gsmlp:ShearDisplacementStructureViewType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation>Simplified view of a GeoSciML ShearDisplacementStructure. In GeoSciML terms this will be in instance of a MappedFeature with key property values from the associated ShearDisplacementStructure feature summarised as labels (unconstrained character strings) or arbitrarily selected classifiers to be used for thematic mapping purposes. The latter are the properties suffixed with '_uri' and will contain URIs referring to controlled concepts in published vocabularies.</documentation>
		</annotation>
	</element>
	<complexType name="ShearDisplacementStructureViewType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="identifier" type="string">
						<annotation>
							<documentation>Globally unique identifer. Should have the same value as the corresponding GeoSciML MappedFeature.</documentation>
						</annotation>
					</element>
					<element name="name" type="string" minOccurs="0">
						<annotation>
							<documentation>Display name for the the ShearDisplacementStructure.</documentation>
						</annotation>
					</element>
					<element name="description" type="string" minOccurs="0">
						<annotation>
							<documentation>Text description of the ShearDisplacementStructure, typically taken from an entry on a geological map legend.</documentation>
						</annotation>
					</element>
					<element name="faultType" type="string" minOccurs="0">
						<annotation>
							<documentation>Type of ShearDisplacementStructure (as defined in GeoSciML).</documentation>
						</annotation>
					</element>
					<element name="movementType" type="string" minOccurs="0">
						<annotation>
							<documentation>Summarises the type of movement (eg dip-slip, strike-slip) on the ShearDisplacementStructure.</documentation>
						</annotation>
					</element>
					<element name="deformationStyle" type="string" minOccurs="0">
						<annotation>
							<documentation>Describes the style of deformation (eg brittle,ductile etc) for the ShearDisplacementStructure.</documentation>
						</annotation>
					</element>
					<element name="displacement" type="string" minOccurs="0">
						<annotation>
							<documentation>Summarises the displacement across the ShearDisplacementStructure.</documentation>
						</annotation>
					</element>
					<element name="geologicHistory" type="string" minOccurs="0">
						<annotation>
							<documentation>Text (possibly formatted with formal syntax) description of the age of the ShearDisplacementStructure (where age is a sequence of events and may include process and environment information).</documentation>
						</annotation>
					</element>
					<element name="observationMethod" type="string" minOccurs="0">
						<annotation>
							<documentation>Metadata snippet indicating how the spatial extent of the feature was determined. ObservationMethod is a convenience property that provides a quick and dirty approach to observation metadata when data are reported using a feature view (as opposed to observation view).</documentation>
						</annotation>
					</element>
					<element name="positionalAccuracy" type="string" minOccurs="0">
						<annotation>
							<documentation>Quantitative values define the radius of an uncertainty buffer around a mappedFeature (eg: a positionAccuracy of 100 m for a line feature defines a buffer polygon of total width 200 m centred on the line).</documentation>
						</annotation>
					</element>
					<element name="source" type="string" minOccurs="0">
						<annotation>
							<documentation>Text describing feature-specific details and citations to source materials, and if available providing URLs to reference material and publications describing the geologic feature. This could be a short text synopsis of key inforamtion that would also be in the metadata record referenced by metadata_uri.</documentation>
						</annotation>
					</element>
					<element name="faultType_uri" type="string">
						<annotation>
							<documentation>URI referring to a controlled concept from a vocabulary defining the fault (ShearDisplacementStructure) type. Mandatory propery - if not value is provided then a URI referring to a conctrolled concept explaining why the value is nil must be provided.</documentation>
						</annotation>
					</element>
					<element name="movementType_uri" type="string">
						<annotation>
							<documentation>URI referring to a controlled concept from a vocabulary defining the ShearDisplacementStructure movement type. Mandatory propery - if not value is provided then a URI referring to a conctrolled concept explaining why the value is nil must be provided.</documentation>
						</annotation>
					</element>
					<element name="deformationStyle_uri" type="string">
						<annotation>
							<documentation>URI referring to a controlled concept from a vocabulary defining the ShearDisplacementStructure deformation style. Mandatory propery - if not value is provided then a URI referring to a conctrolled concept explaining why the value is nil must be provided.</documentation>
						</annotation>
					</element>
					<element name="representativeAge_uri" type="string">
						<annotation>
							<documentation>URI referring to a controlled concept specifying the most representative stratigraphic age interval for the GeologicUnit. This will be defined entirely at the discretion of the data provider and may be a single event selected from the geologic feature's geological history or a value summarising the all or part of the feature's history.</documentation>
						</annotation>
					</element>
					<element name="representativeOlderAge_uri" type="string">
						<annotation>
							<documentation>URI referring to a controlled concept specifying the most representative older value in a range of stratigraphic age intervals for the GeologicUnit. This will be defined entirely at the discretion of the data provider and  may be a single event selected from the geologic feature's geological history or a value summarising the all or part of the feature's history.</documentation>
						</annotation>
					</element>
					<element name="representativeYoungerAge_uri" type="string">
						<annotation>
							<documentation>URI referring to a controlled concept specifying the most representative younger value in a range of stratigraphic age intervals for the GeologicUnit. This will be defined entirely at the discretion of the data provider and  may be a single event selected from the geologic feature's geological history or a value summarising the all or part of the feature's history.</documentation>
						</annotation>
					</element>
					<element name="specification_uri" type="string">
						<annotation>
							<documentation>URI referring the the GeoSciML ShearDisplacementStructure feature that describes the instance in detail. Mandatory propery - if not value is provided then a URI referring to a conctrolled concept explaining why the value is nil must be provided.</documentation>
						</annotation>
					</element>
					<element name="metadata_uri" type="string">
						<annotation>
							<documentation>URI referring to a metadata record describing the provenance of data.</documentation>
						</annotation>
					</element>
					<element name="genericSymbolizer" type="string" minOccurs="0">
						<annotation>
							<documentation>Identifier for a symbol from standard (locally or community defined) symbolization scheme for portrayal.</documentation>
						</annotation>
					</element>
					<element name="shape" type="gml:GeometryPropertyType">
						<annotation>
							<documentation>Geometry defining the extent of the feature of interest.</documentation>
						</annotation>
					</element>
					<any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ShearDisplacementStructureViewPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlp:ShearDisplacementStructureView"/>
		</sequence>
	</complexType>
<!-- =========================================================== -->
<!--                           GeologicUnitView                                                                                 -->	
<!-- =========================================================== -->
	<element name="GeologicUnitView" type="gsmlp:GeologicUnitViewType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation>Simplified view of a GeoSciML GeologicUnit. In GeoSciML terms this will be in instance of a MappedFeature with key property values from the associated GeologicUnit feature summarised as labels (unconstrained character strings) or arbitrarily selected classifiers to be used for thematic mapping purposes. The latter are the properties suffixed with '_uri' and will contain URIs referring to controlled concepts in published vocabularies.</documentation>
		</annotation>
	</element>
	<complexType name="GeologicUnitViewType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="identifier" type="string">
						<annotation>
							<documentation>Globally unique identifer. Should have the same value as the corresponding GeoSciML MappedFeature.</documentation>
						</annotation>
					</element>
					<element name="name" type="string" minOccurs="0">
						<annotation>
							<documentation>Display name for the the GeologicalUnit.</documentation>
						</annotation>
					</element>
					<element name="description" type="string" minOccurs="0">
						<annotation>
							<documentation>Text description of the GeologicUnit, typically taken from an entry on a geological map legend.</documentation>
						</annotation>
					</element>
					<element name="geologicUnitType" type="string" minOccurs="0">
						<annotation>
							<documentation>Type of GeologicUnit (as defined in GeoSciML).</documentation>
						</annotation>
					</element>
					<element name="rank" type="string" minOccurs="0">
						<annotation>
							<documentation>Rank of GeologicUnit (as defined in GeoSciML).</documentation>
						</annotation>
					</element>
					<element name="lithology" type="string" minOccurs="0">
						<annotation>
							<documentation>Text (possibly formatted with formal syntax) description of the GeologicUnit's lithology.</documentation>
						</annotation>
					</element>
					<element name="geologicHistory" type="string" minOccurs="0">
						<annotation>
							<documentation>Text (possibly formatted with formal syntax) description of the age of the GeologicUnit (where age is a sequence of events and may include process and environment information).</documentation>
						</annotation>
					</element>
					<element name="observationMethod" type="string" minOccurs="0">
						<annotation>
							<documentation>Metadata snippet indicating how the spatial extent of the feature was determined. ObservationMethod is a convenience property that provides a quick and dirty approach to observation metadata when data are reported using a feature view (as opposed to observation view).</documentation>
						</annotation>
					</element>
					<element name="positionalAccuracy" type="string" minOccurs="0">
						<annotation>
							<documentation>Quantitative values define the radius of an uncertainty buffer around a mappedFeature (eg: a positionAccuracy of 100 m for a line feature defines a buffer polygon of total width 200 m centred on the line).</documentation>
						</annotation>
					</element>
					<element name="source" type="string" minOccurs="0">
						<annotation>
							<documentation>Text describing feature-specific details and citations to source materials, and if available providing URLs to reference material and publications describing the geologic feature. This could be a short text synopsis of key inforamtion that would also be in the metadata record referenced by metadata_uri.</documentation>
						</annotation>
					</element>
					<element name="geologicUnitType_uri" type="string">
						<annotation>
							<documentation>URI referring to a controlled concept from a vocabulary defining the GeologicUnit types. Mandatory propery - if not value is provided then a URI referring to a conctrolled concept explaining why the value is nil must be provided.</documentation>
						</annotation>
					</element>
					<element name="representativeLithology_uri" type="string">
						<annotation>
							<documentation>URI referring to a controlled concept specifying the characteristic or represntative lithology of the unit. This may be a concept that defines the super-type of all lithology values present within a GeologicUnit or a concept defining the lithology of the dominant CompositionPart (as defined in GeoSciML) of the unit.</documentation>
						</annotation>
					</element>
					<element name="representativeAge_uri" type="string">
						<annotation>
							<documentation>URI referring to a controlled concept specifying the most representative stratigraphic age interval for the GeologicUnit. This will be defined entirely at the discretion of the data provider and  may be a single event selected from the geologic feature's geological history or a value summarising the all or part of the feature's history.</documentation>
						</annotation>
					</element>
					<element name="representativeOlderAge_uri" type="string">
						<annotation>
							<documentation>URI referring to a controlled concept specifying the most representative older value in a range of stratigraphic age intervals for the GeologicUnit. This will be defined entirely at the discretion of the data provider and  may be a single event selected from the geologic feature's geological history or a value summarising the all or part of the feature's history.</documentation>
						</annotation>
					</element>
					<element name="representativeYoungerAge_uri" type="string">
						<annotation>
							<documentation>URI referring to a controlled concept specifying the most representative younger value in a range of stratigraphic age intervals for the GeologicUnit. This will be defined entirely at the discretion of the data provider and  may be a single event selected from the geologic feature's geological history or a value summarising the all or part of the feature's history.</documentation>
						</annotation>
					</element>
					<element name="specification_uri" type="string">
						<annotation>
							<documentation>URI referring the the GeoSciML GeologicUnit feature that describes the instance in detail. Mandatory propery - if not value is provided then a URI referring to a conctrolled concept explaining why the value is nil must be provided.</documentation>
						</annotation>
					</element>
					<element name="metadata_uri" type="string">
						<annotation>
							<documentation>URI referring to a metadata record describing the provenance of data.</documentation>
						</annotation>
					</element>
					<element name="genericSymbolizer" type="string" minOccurs="0">
						<annotation>
							<documentation>Identifier for a symbol from standard (locally or community defined) symbolization scheme for portrayal.</documentation>
						</annotation>
					</element>
					<element name="shape" type="gml:GeometryPropertyType">
						<annotation>
							<documentation>Geometry defining the extent of the feature of interest.</documentation>
						</annotation>
					</element>
					<any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeologicUnitViewPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlp:GeologicUnitView"/>
		</sequence>
	</complexType>
<!-- =========================================================== -->
<!--                           BoreholeView                                                                                      -->	
<!-- =========================================================== -->
	<element name="BoreholeView" type="gsmlp:BoreholeViewType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation>Simplified view of a GeoSciML Borehole. In GeoSciML terms, this will be an instance of a Borehole feature with key property values summarised as labels (unconstrained character strings) or arbitrarily selected classifiers to be used for thematic mapping purposes. The latter are the properties suffixed with '_uri' and will contain URIs referring to controlled concepts in published vocabularies.</documentation>
		</annotation>
	</element>
	<complexType name="BoreholeViewType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="identifier" type="string">
						<annotation>
							<documentation>Globally unique identifer. Should have the same value as the corresponding GeoSciML Borehole.</documentation>
						</annotation>
					</element>
					<element name="name" type="string" minOccurs="0">
						<annotation>
							<documentation>Display name for the the borehole.</documentation>
						</annotation>
					</element>	
					<element name="description" type="string" minOccurs="0">
						<annotation>
							<documentation>Text description of the borehole.</documentation>
						</annotation>
					</element>
					<element name="purpose" type="string" minOccurs="0">
						<annotation>
							<documentation>The purpose for which the borehole was drilled. (eg, mineral exploration, hydrocarbon exploration, hydrocarbon production, groundwater monitoring, geothermal).</documentation>
						</annotation>
					</element>
					<element name="status" type="string" minOccurs="0">
						<annotation>
							<documentation>The present status of the borehole (eg, abandoned, completed, proposed, suspended).</documentation>
						</annotation>
					</element>					
					<element name="drillingMethod" type="string" minOccurs="0">
						<annotation>
							<documentation>Indicates the drilling method, or methods, used for this borehole (eg, RAB, auger, diamond core drilling, air core drilling, piston)</documentation>
						</annotation>
					</element>					
					<element name="operator" type="string" minOccurs="0">
						<annotation>
							<documentation>Organisation or agency responsible for commissioning of the borehole (as opposed to the agency which drilled the borehole).</documentation>
						</annotation>
					</element>					
					<element name="driller" type="string" minOccurs="0">
						<annotation>
							<documentation>The organisation responsible for drilling the borehole (as opposed to commissioning the borehole).</documentation>
						</annotation>
					</element>
					<element name="drillStartDate" type="string" minOccurs="0">
						<annotation>
							<documentation>The date of the start of drilling (formatted as a gml:timePosition - eg, 2012-03-17)</documentation>
						</annotation>
					</element>
					<element name="drillEndDate" type="string" minOccurs="0">
						<annotation>
							<documentation>The date of the end of drilling (formatted as a gml:timePosition - eg, 2012-03-17)</documentation>
						</annotation>
					</element>
					<element name="startPoint" type="string" minOccurs="0">
						<annotation>
							<documentation>Indicates the position relative to the ground surface where the borehole commenced (eg, open pit floor or wall, underground, natural land surface, sea floor)</documentation>
						</annotation>
					</element>
					<element name="inclinationType" type="string" minOccurs="0">
						<annotation>
							<documentation>Indicates the type of inclination of the borehole (eg, vertical, inclined up, inclined down, horizontal)</documentation>
						</annotation>
					</element>
					<element name="boreholeMaterialCustodian" type="string" minOccurs="0">
						<annotation>
							<documentation>Organisation that is the custodian of the material recovered from the borehole</documentation>
						</annotation>
					</element>
					<element name="boreholeLength_m" type="double" minOccurs="0">
						<annotation>
							<documentation>The length of a borehole, in metres, as determined by the data provider.  Length may have different sources, eg, driller's measurement, logger's measurement, survey measurement)</documentation>
						</annotation>
					</element>
					<element name="elevation_m" type="double" minOccurs="0">
						<annotation>
							<documentation>Compromise approach to supply elevation data, in metres, for the borehole (ie, wellbore) start point.  This is to allow for legacy data without elevation data, and for software that cannot process a 3D GM_Point. The SRS will be a one dimensional vertical SRS (ie, EPSG code in the range 5600-5799).</documentation>
						</annotation>
					</element>
					<element name="elevation_srs" type="string" minOccurs="0">
						<annotation>
							<documentation>URI of a spatial reference system of the elevation value. Mandatory if elevation_m is populated.</documentation>
						</annotation>
					</element>
					<element name="positionalAccuracy" type="string" minOccurs="0">
						<annotation>
							<documentation>An estimate of the accuracy of the location of the borehole collar location.</documentation>
						</annotation>
					</element>
					<element name="source" type="string" minOccurs="0">
						<annotation>
							<documentation>Text describing details and citations to source materials for the borehole and, if available, providing URLs to reference material and publications describing the borehole. This could be a short text synopsis of key information that would also be in the metadata record referenced by metadata_uri.</documentation>
						</annotation>
					</element>
					<element name="specification_uri" type="string">
						<annotation>
							<documentation>URI referring the the GeoSciML Borehole feature that describes the instance in detail. Mandatory property - if not value is provided then a URI referring to a controlled concept explaining why the value is nil must be provided.</documentation>
						</annotation>
					</element>
					<element name="parentBorehole_uri" type="string" minOccurs="0">
						<annotation>
							<documentation>URI referring to the unique ID of a parent borehole (eg, parent well of a sidetrack wellbore)</documentation>
						</annotation>
					</element>
					<element name="metadata_uri" type="string">
						<annotation>
							<documentation>URI referring to a metadata record describing the provenance of data.</documentation>
						</annotation>
					</element>
					<element name="genericSymbolizer" type="string" minOccurs="0">
						<annotation>
							<documentation>Identifier for a symbol from standard (locally or community defined) symbolization scheme for portrayal.</documentation>
						</annotation>
					</element>
					<element name="shape" type="gml:GeometryPropertyType">
						<annotation>
							<documentation>Geometry defining the extent of the feature of interest.</documentation>
						</annotation>
					</element>
					<any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BoreholeViewPropertyType">
		<sequence minOccurs="0">
			<element ref="gsmlp:BoreholeView"/>
		</sequence>
	</complexType>
</schema>
