src/community/smart-data-loader/src/test/resources/org/geoserver/smartdataloader/visitors/Mt1meteo-maintainers-gml.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:mt="http://www.geo-solutions.it/smartappschema/1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.geo-solutions.it/smartappschema/1.0" version="1.0">
  <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <xs:complexType name="Mt1meteoMaintainersType">
    <xs:complexContent>
      <xs:extension base="gml:AbstractFeatureType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:int"/>
          <xs:element maxOccurs="1" minOccurs="0" name="name" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="surname" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="company" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="active" type="xs:boolean"/>
          <xs:element maxOccurs="1" minOccurs="0" name="place" type="gml:GeometryPropertyType"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="mt1meteoStationsMaintainers" type="mt:Mt1meteoStationsMaintainersPropertyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Mt1meteoMaintainersFeature" substitutionGroup="gml:AbstractFeature" type="mt:Mt1meteoMaintainersType"/>
  <xs:complexType name="Mt1meteoStationsMaintainersType">
    <xs:complexContent>
      <xs:extension base="gml:AbstractFeatureType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="mt1meteoStations" type="mt:Mt1meteoStationsPropertyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Mt1meteoStationsMaintainersFeature" substitutionGroup="gml:AbstractFeature" type="mt:Mt1meteoStationsMaintainersType"/>
  <xs:complexType name="Mt1meteoStationsMaintainersPropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="mt:Mt1meteoStationsMaintainersFeature"/>
    </xs:sequence>
    <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
  </xs:complexType>
  <xs:complexType name="Mt1meteoStationsType">
    <xs:complexContent>
      <xs:extension base="gml:AbstractFeatureType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:int"/>
          <xs:element maxOccurs="1" minOccurs="0" name="code" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="common_name" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="position" type="gml:GeometryPropertyType"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="mt1meteoObservations" type="mt:Mt1meteoObservationsPropertyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Mt1meteoStationsFeature" substitutionGroup="gml:AbstractFeature" type="mt:Mt1meteoStationsType"/>
  <xs:complexType name="Mt1meteoStationsPropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="mt:Mt1meteoStationsFeature"/>
    </xs:sequence>
    <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
  </xs:complexType>
  <xs:complexType name="Mt1meteoObservationsType">
    <xs:complexContent>
      <xs:extension base="gml:AbstractFeatureType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:int"/>
          <xs:element maxOccurs="1" minOccurs="0" name="time" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="value" type="xs:double"/>
          <xs:element maxOccurs="1" minOccurs="0" name="decimal_value" type="xs:double"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="mt1meteoParameters" type="mt:Mt1meteoParametersPropertyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Mt1meteoObservationsFeature" substitutionGroup="gml:AbstractFeature" type="mt:Mt1meteoObservationsType"/>
  <xs:complexType name="Mt1meteoObservationsPropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="mt:Mt1meteoObservationsFeature"/>
    </xs:sequence>
    <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
  </xs:complexType>
  <xs:complexType name="Mt1meteoParametersType">
    <xs:complexContent>
      <xs:extension base="gml:AbstractFeatureType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:int"/>
          <xs:element maxOccurs="1" minOccurs="0" name="param_name" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="0" name="param_unit" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Mt1meteoParametersFeature" substitutionGroup="gml:AbstractFeature" type="mt:Mt1meteoParametersType"/>
  <xs:complexType name="Mt1meteoParametersPropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="mt:Mt1meteoParametersFeature"/>
    </xs:sequence>
    <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
  </xs:complexType>
</xs:schema>
