src/extension/csw/api/src/main/resources/schemas/csw/2.0.2/rec-dcmes.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema id="dcmes" targetNamespace="http://purl.org/dc/elements/1.1/"
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns:dc="http://purl.org/dc/elements/1.1/" elementFormDefault="qualified"
   attributeFormDefault="unqualified" version="2.0.2.2">
   <xs:annotation>
      <xs:documentation xml:lang="en"
         source="http://dublincore.org/documents/dces/">This schema declares XML elements for the 15 Dublin Core elements in 
    the "http://purl.org/dc/elements/1.1/" namespace.</xs:documentation>
   </xs:annotation>
   <xs:complexType name="SimpleLiteral">
      <xs:annotation>
         <xs:documentation xml:lang="en">This is the default type for all of the DC elements. It defines a 
      complexType SimpleLiteral which permits mixed content but disallows 
      child elements by use of minOcccurs/maxOccurs. However, this complexType 
      does permit the derivation of other types which would permit child 
      elements. The scheme attribute may be used as a qualifier to reference 
      an encoding scheme that describes the value domain for a given property.</xs:documentation>
      </xs:annotation>
      <xs:complexContent mixed="true">
         <xs:restriction base="xs:anyType">
            <xs:sequence>
               <xs:any processContents="lax" minOccurs="0" maxOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="scheme" type="xs:anyURI" use="optional"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="DC-element" type="dc:SimpleLiteral" abstract="true"/>
   <xs:element name="title" type="dc:SimpleLiteral"
      substitutionGroup="dc:DC-element">
      <xs:annotation>
         <xs:documentation xml:lang="en">A name given to the resource. Typically, Title will be a name by 
      which the resource is formally known.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="creator" type="dc:SimpleLiteral"
      substitutionGroup="dc:DC-element">
      <xs:annotation>
         <xs:documentation xml:lang="en">An entity primarily responsible for making the content of the resource.
      Examples of Creator include a person, an organization, or a service. 
      Typically, the name of a Creator should be used to indicate the entity.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="subject" type="dc:SimpleLiteral"
      substitutionGroup="dc:DC-element">
      <xs:annotation>
         <xs:documentation xml:lang="en">A topic of the content of the resource. Typically, Subject will be 
      expressed as keywords, key phrases, or classification codes that 
      describe a topic of the resource. Recommended best practice is to 
      select a value from a controlled vocabulary or formal classification 
      scheme.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="description" type="dc:SimpleLiteral"
      substitutionGroup="dc:DC-element">
      <xs:annotation>
         <xs:documentation xml:lang="en">An account of the content of the resource. Examples of Description 
      include, but are not limited to, an abstract, table of contents, 
      reference to a graphical representation of content, or free-text 
      account of the content.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="publisher" type="dc:SimpleLiteral"
      substitutionGroup="dc:DC-element">
      <xs:annotation>
         <xs:documentation xml:lang="en">An entity responsible for making the resource available. Examples of 
      Publisher include a person, an organization, or a service. Typically, 
      the name of a Publisher should be used to indicate the entity.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="contributor" type="dc:SimpleLiteral"
      substitutionGroup="dc:DC-element">
      <xs:annotation>
         <xs:documentation xml:lang="en">An entity responsible for making contributions to the content of 
      the resource. Examples of Contributor include a person, an organization, 
      or a service. Typically, the name of a Contributor should be used to 
      indicate the entity.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="date" type="dc:SimpleLiteral"
      substitutionGroup="dc:DC-element">
      <xs:annotation>
         <xs:documentation xml:lang="en">A date of an event in the lifecycle of the resource. Typically, Date 
      will be associated with the creation or availability of the resource. 
      Recommended best practice for encoding the date value is defined in a 
      profile of ISO 8601 and includes (among others) dates of the 
      form YYYY-MM-DD.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="type" type="dc:SimpleLiteral"
      substitutionGroup="dc:DC-element">
      <xs:annotation>
         <xs:documentation xml:lang="en">The nature or genre of the content of the resource. Type includes 
      terms describing general categories, functions, genres, or aggregation 
      levels for content. Recommended best practice is to select a value 
      from a controlled vocabulary (for example, the DCMI Type Vocabulary). 
      To describe the physical or digital manifestation of the resource, 
      use the Format element.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="format" type="dc:SimpleLiteral"
      substitutionGroup="dc:DC-element">
      <xs:annotation>
         <xs:documentation xml:lang="en">The physical or digital manifestation of the resource. Typically, 
      Format will include the media-type or dimensions of the resource. 
      Format may be used to identify the software, hardware, or other 
      equipment needed to display or operate the resource. Examples of 
      dimensions include size and duration. Recommended best practice is to 
      select a value from a controlled vocabulary (for example, the list 
      of Internet Media Types defining computer media formats).</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="identifier" type="dc:SimpleLiteral"
      substitutionGroup="dc:DC-element">
      <xs:annotation>
         <xs:documentation xml:lang="en">An unambiguous reference to the resource within a given context. 
      Recommended best practice is to identify the resource by means of a 
      string or number conforming to a formal identification system. Formal 
      identification systems include but are not limited to the Uniform 
      Resource Identifier (URI) (including the Uniform Resource Locator 
      (URL)), the Digital Object Identifier (DOI), and the International 
      Standard Book Number (ISBN).</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="source" type="dc:SimpleLiteral"
      substitutionGroup="dc:DC-element">
      <xs:annotation>
         <xs:documentation xml:lang="en">A Reference to a resource from which the present resource is derived.
      The present resource may be derived from the Source resource in whole 
      or in part. Recommended best practice is to identify the referenced 
      resource by means of a string or number conforming to a formal 
      identification system.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="language" type="dc:SimpleLiteral"
      substitutionGroup="dc:DC-element">
      <xs:annotation>
         <xs:documentation xml:lang="en">A language of the intellectual content of the resource. Recommended 
      best practice is to use RFC 3066, which, in conjunction with ISO 639, 
      defines two- and three-letter primary language tags with optional 
      subtags. Examples include "en" or "eng" for English, "akk" for
      Akkadian, and "en-GB" for English used in the United Kingdom.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="relation" type="dc:SimpleLiteral"
      substitutionGroup="dc:DC-element">
      <xs:annotation>
         <xs:documentation xml:lang="en">A reference to a related resource. Recommended best practice is to 
      identify the referenced resource by means of a string or number 
      conforming to a formal identification system.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="coverage" type="dc:SimpleLiteral"
      substitutionGroup="dc:DC-element">
      <xs:annotation>
         <xs:documentation xml:lang="en">The extent or scope of the content of the resource. Typically, 
      Coverage will include spatial location (a place name or geographic 
      coordinates), temporal period (a period label, date, or date range), 
      or jurisdiction (such as a named administrative entity). Recommended 
      best practice is to select a value from a controlled vocabulary 
      (for example, the Thesaurus of Geographic Names [TGN]) and to use, 
      where appropriate, named places or time periods in preference to 
      numeric identifiers such as sets of coordinates or date ranges.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="rights" type="dc:SimpleLiteral"
      substitutionGroup="dc:DC-element">
      <xs:annotation>
         <xs:documentation xml:lang="en">Information about rights held in and over the resource. Typically, 
      Rights will contain a rights management statement for the resource, 
      or reference a service providing such information. Rights information 
      often encompasses Intellectual Property Rights (IPR), Copyright, and 
      various Property Rights. If the Rights element is absent, no 
      assumptions may be made about any rights held in or over the resource.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:group name="DC-element-set">
      <xs:annotation>
         <xs:documentation xml:lang="en">This group is included as a convenience for schema authors who need 
      to refer to all the elements in the "http://purl.org/dc/elements/1.1/" 
      namespace.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="dc:DC-element"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:complexType name="elementContainer">
      <xs:annotation>
         <xs:documentation xml:lang="en">This type definition is included as a convenience for schema authors 
      who need a container element for all of the DC elements.</xs:documentation>
      </xs:annotation>
      <xs:choice>
         <xs:group ref="dc:DC-element-set"/>
      </xs:choice>
   </xs:complexType>
</xs:schema>
